body {
	cursor: default; /* Manually change pointer over links then, I think */
	padding: 0px;
	margin: 0px;
}

#feedbackScreen {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, .7);
	z-index: 10;
	display: none;
}

#feedbackBg {
	color: #fff;
	background-color: #0c0a0a;
	width: 0px;
	height: 0px;
	overflow: hidden;
	margin: 100px; /* Change to make animation start from middle :) */
	border-radius: 20px;
	box-shadow: inset 1px 1px 12px rgba(255, 255, 255, 1), 3px 3px 6px 1px #000;
	-webkit-transition: height 2s, width 2s, margin 2s;
	transition: height 2s, width 2s, margin 2s;
}

#feedbackBg h3 {
	text-align: center;
}

#feedbackForm{
	margin: auto;
	width: 340px;
	display: block;
}

#buttonEscape {
	color: #fff;
	float: right;
	background-color: #0c0a0a;
	margin-top: 10px;
	margin-right: 10px;
	border-radius: 100%;
	/*box-shadow: 2px 2px 1px 0px  rgba(255, 255, 255, 1), inset 0 0 0 #fff;*/
}

#buttonFeedback {
	text-align: center;
}

footer {
	background-color: #444;
}

.tabSuggest {
	margin: 10px -5px 0px 20px;
	padding: 10px;
	border-radius: 5px;
	background-color: #fff;
	width: 90px;
	display: inline-block;

}

#bottomTab {
	background-color: #fff;
	height: 0px;
	overflow: hidden;
	-webkit-transition: height 2s;
	transition: height 2s;
}

#aboutUs, #sources {
	display: none;
}

#badges {
	padding: 0px;
	width: 164px;
	margin: 5px auto 0px auto;
}

#feedbackSuggest {
	position: fixed;
	height: 0px;
	overflow: hidden;
	width: 100px;
	color: #0c0a0a;
	right: 100px;
	bottom: 0px;
	background-color: #fff;
	text-align: center;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	font-size: 15pt;
	-webkit-transition: height .9s ease-in-out;
	transition: height .8s ease-in-out;
}
